<body>
    <header class="header">
        <%= render "shared/partial" %>
    </header>
    <div class="profile_background row ">
    
    <div class="user_nav user_nav-pc col-lg-2 d-lg-block">
          <p><%= link_to "アカウント", user_path(id: current_user.id) %></p>
          <p>アカウント編集</p>
          <p><%= link_to "プロフィールの変更", edit_user_path(id: current_user.id)  %></p>
          <p><%= link_to "トップページ",  rooms_path %></p>
    </div>
    <div class="profile_edit_box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :avatar ,"プロフィール画像" %>
              <%= f.file_field :avatar ,class:"form-control-file"%>
          </div>
        </div>
        
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control " %>
          </div>
        </div>
        
        <div class="profile_edit_element">
          <div class="mb-3">
             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control " %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
        
          </div>
        </div>
      
        
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control " %>
          </div>
        </div>
      
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" ,class:"form-control "%>
          </div>
        </div>
        
        <div class="profile_edit_element">
          <%= f.submit "Update",class:"btn btn-primary" %>
        </div>

      <% end %>
    </div>
      
    </div>
</body>
