<body>
    
    <div class="devise_box">
      <div class="signbody">
      
      <div class="signformat">
      <div class="signformatin">
        
      <h2>新規登録</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="devise_element">
          <div class="mb-3">
              <%= f.label :name,"必須", class:"form-label-required" %>
              <%= f.text_field :name, autofocus: true, placeholder:"名前" ,class:"form-control col-10"%>
          </div>
        </div>
        
        <div class="devise_element">
          <div class="mb-3">
              <%= f.label :email,"必須", class:"form-label-required" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"メールアドレス",class:"form-control col-10"%>
          </div>
        </div>
          
        <div class="devise_element">
          <div class="mb-3">
              <%= f.label :password ,"必須", class:"form-label-required" %>
              <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワード",class:"form-control col-10"%>
          </div>
        </div>
      
        <div class="devise_element">
          <div class="mb-3">
              <%= f.label :password_confirmation,"必須", class:"form-label-required" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"パスワード確認用" ,class:"form-control col-10"%>
          </div>
        </div>
      
        
      </div>
      <div class="devise_element">
        <div class="actions">
          <%= f.submit "Sign up" ,class:"btn btn-primary"%>
        </div>
       </div>
      <% end %>
      
      <%= render "devise/shared/links" %>
      </div>
      </div>
    </div>
  
  </body>