<body>
    <header class="header">
        <%= render "shared/partial" %>
    </header>
    <div class="profile_background row ">
      
      <div class="user_nav user_nav-pc col-lg-2 d-lg-block">
          <p><%= link_to "アカウント", user_path(id: current_user.id) %></p>
          <p><%= link_to "アカウント編集", edit_user_registration_path %></p>
          <p>プロフィールの変更</p>
          <p><%= link_to "トップページ",  rooms_path %></p>
      </div>
      
    <div class="profile_edit_box">
      <%= form_with model: @user , local:true do |f| %>
        
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :name ,"名前"%>
              <%= f.text_field :name,class:"form-control " %>
          </div>
        </div>
        
        <div class="profile_edit_element">
          <div class="mb-3">
              <%= f.label :introduction ,"紹介文" %>
              <%= f.text_area:introduction, size: "20x10",class:"form-control " %>
          </div>
        </div>
        
        <div class="profile_edit_element">
            <%= f.submit "プロフィールを変更する",class:"btn btn-primary"%><br>
            <%= link_to "プロフィールに戻る", user_path(id: current_user.id) %>
        </div>   
        
        <% end %>
    </div>
    </div>

</body>
