

<body>
  
<header>
<%= render "shared/partial" %>
</header>
<div class="container-fiuld reservations">

<h4 class="pb-4">予約済みルーム一覧</h4>
<table>
  
  <thead>
    <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
    </tr>
  </thead>
  
  <div　class="reservations_element">
    
        <% @rooms.zip(@reservations) do |room,reservation| %>
        <tr>
            <td>
            <% if room.image.attached? %>
              <%= image_tag room.image ,class: "reservations_image"%>
            <% end %></td>
              <td width="150"><%= room.name %></td>
              <td width="150"><%= room.introduction %></td>
              <td width="150"><%= room.price %></td>
              <td width="150"><%= reservation&.start_data %></td>
              <td width="150"><%= reservation&.end_data %></td>
              <td width="150"><%= room.created_at %></td>
            </tr>
        <% end %>
    
  </div>

</table>

<p><%= link_to "新規登録", :new_room %></p>
<p><%= link_to "全てのルーム",  rooms_path %></p>

 </div>

</body>