<body>
 
<header>
<%= render "shared/partial" %>
</header>

<div class="top">
  <div class="top_main">
   <div class="container">
    <div class="search">
      <div class="search_form">
       <div class="search_area">
        <p class="search_area_text1">Potepan Shareでまだ体験したことのない旅をしよう</p>
        <p class="search_area_text2">エリア</p>
        <div class="form_area_field">
        <%= form_tag(search_path, :method => "get") do %>
        <%= text_field_tag :search_area, "",  class: "form-control col-12" %> 
        </div>
        
        <div class="search_area_btn">
        <%= submit_tag "検索" ,:address => nil , class: "btn btn-primary col-12"%> 
        <% end %> 
        </div>
       </div>
      </div>
    </div>
   </div>
  </div>
</div>

<div class="bottom_side">
<div class="bottom">
 <div class="bottom_title">
  <p class="bottom_title_text">おすすめのエリア</p>
 </div>
 <div class="bottom_search">
  <div class="bottom_search_1">
   <span>東　京</span>
   <%= form_tag(search_path, :method => "get") do %>
   <%= hidden_field_tag :search_area ,  value = "東京都" %> 
   <%= submit_tag "" ,:name => nil ,class: "search_button button_tokyo is-info"%> 
   <% end %> 
  </div>
  <div class="bottom_search_1">
    <span>大　阪</span>
   <%= form_tag(search_path, :method => "get") do %>
   <%= hidden_field_tag :search_area ,  value = "大阪府" %> 
   <%= submit_tag "" ,:name => nil ,class: "search_button button_osaka is-info"%> 
   <% end %> 
  </div>
  <div class="bottom_search_1">
    <span>京　都</span>
   <%= form_tag(search_path, :method => "get") do %>
   <%= hidden_field_tag :search_area ,  value = "京都府" %> 
   <%= submit_tag "" ,:name => nil ,class: "search_button button_kyoto is-info"%> 
   <% end %> 
  </div>
  <div class="bottom_search_1">
    <span>札　幌</span>
   <%= form_tag(search_path, :method => "get") do %>
   <%= hidden_field_tag :search_area ,  value = "札幌" %> 
   <%= submit_tag "" ,:name => nil ,class: "search_button button_sapporo is-info"%> 
   <% end %> 
  </div>
 </div>
 
</div>
</div>


</body>




