<body>
    <header class="header">
        <%= render "shared/partial" %>
    </header>
    <div class="container-fiuld">
    <div class="rooms_new_background row ">
        
        <div class="room_nav room_nav-pc col-lg-2 d-lg-block ">
          <p>基本情報</p>
        </div>
        <div class="col-lg-10">
           <div class="room_box">
      
                <%= form_with model: @room , local:true do |f| %>
                <%= render "shared/error", obj: @room %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                
                <div class="room_element">
                  <table>
                      <tr>
                        <th align="left" valign="top"><%= f.label :name ,"ルーム名" %><span>必須</span>　</th>
                        <td width="600"><%= f.text_field:name,class: "form-control mb-4 " %></td>
                      </tr>
                  </table>
                </div>
                
                  
                <div class="room_element">
                  <table>
                      <tr>
                        <th align="left" valign="top"><%= f.label :introduction ,"ルーム紹介" %><span>必須</span></%></th>
                        <td width="600"><%= f.text_area:introduction,class: "form-control mb-4 " %></td>
                      </tr>
                  </table>
                </div>
                
                <div class="room_element">
                  <table>
                    <tr>
                      <th align="left" valign="top"><%= f.label :price ,"価　格" %><span>必須</span>　　</th>
                      <td width="600"><%= f.text_field:price,class: "form-control mb-4"%></td>
                    </tr>
                  </table>
                </div>
                
                <div class="room_element">
                  <table>
                    <tr>
                      <th align="left" valign="top"><%= f.label :address ,"住　所" %><span>必須</span>　　</th>
                      <td width="600"><%= f.text_field:address,class: "form-control mb-4" %></td>
                    </tr>
                  </table>
                </div>
                    
                <div class="room_element">
                  <table>
                    <tr>
                      <th align="left" valign="top"><%= f.label :image ,"ルーム画像" %><span>必須</span></th>
                 　　　<td width="600">　 <%= f.file_field :image %></td>
                 　　</tr>
                  </table>
                </div>
                
                <div class="room_element">
                      <%= f.submit "登録",class:"col-md-2 btn btn-primary mx-3"%>
                </div>
                <% end %>
              </div>
            </div>
          </div>
    </div>
    </div>
</body>